.textmain{
   background: #566759;

   display: flex;
   justify-content: space-evenly;
   align-items: center;

   font-size: 16px;
   font-weight: 500;
   color: #fff;
}
.links{
    display: flex;
    gap: 10px;
    gap: 6.5px;
}